In [22]:
import pandas as pd

df = pd.read_csv('timeSeries_v2.csv')

# convert data frame to timeSeries
df['date'] = pd.to_datetime(df['date'])
df.set_index('date',inplace=True)
df

,fips,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,T2M_RANGE,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
date,,,,,,,,,,,,,,,,,,,,
2000-01-04,13293,0.667669,0.605742,-0.025995,-0.162733,0.196127,0.193740,-0.279952,-0.336161,0.060936,-0.190941,0.184897,-0.367359,1.126956,-1.246620,0.782961,0.237211,1.236782,-0.866626,3
2000-01-04,51155,0.586479,-0.415565,-0.187427,-0.573271,-0.003411,-0.007160,-0.753719,-0.909549,0.184737,-0.579757,0.157409,-0.228341,0.626952,-0.730360,0.725758,0.187646,1.054347,-0.762055,1
2000-01-04,8071,-0.400429,-2.302659,-1.324002,-1.463810,-1.949404,-1.919691,-1.106115,-1.633975,1.046487,-1.458034,0.696179,0.922422,0.475435,0.895092,0.800562,1.214339,0.079763,1.488483,0
2000-01-04,46109,-0.396821,0.374866,-1.491979,-2.477243,-2.334651,-2.309556,-2.599402,-2.337890,-1.451375,-2.338892,1.037033,1.532558,-0.001841,2.024730,0.589350,1.193097,-0.405129,1.915858,1
2000-01-04,9011,2.327552,0.770883,0.089626,-0.307000,0.412458,0.410553,-0.674200,-0.091888,-1.715969,-0.418037,1.553812,1.663853,0.687558,1.733376,1.966626,2.276435,0.963130,2.015882,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-12-27,28015,-0.223616,0.886321,0.360135,-0.006889,0.638667,0.593552,-0.284137,0.032113,-0.905195,-0.032662,-0.859656,-0.977495,-0.380632,-1.037049,-0.664719,-0.736377,-0.405129,-0.557461,2
2016-12-27,19079,-0.400429,0.410139,-1.190929,-1.597391,-1.358692,-1.356772,-1.489481,-1.625584,-0.087139,-1.656744,0.520254,0.879944,0.202706,1.027991,0.523347,0.888630,0.094165,1.052015,0
2016-12-27,40077,-0.400429,0.613759,-0.878971,-0.643624,-0.704759,-0.725229,-0.504280,-0.555260,-0.019170,-0.669219,-0.892642,-0.950463,-1.183668,-0.459451,-0.748323,-0.548740,-1.216483,0.442778,3
2016-12-27,40109,-0.400429,0.482288,-1.044767,-0.895646,-1.019871,-1.021607,-0.688430,-0.963624,0.514872,-0.905778,-0.364868,-0.019813,-0.380632,0.230599,-0.171891,0.824904,-0.717188,1.738543,3
2016-12-27,1019,0.203984,0.531990,0.401584,-0.103067,0.636692,0.602503,-0.325152,-0.272762,-0.230360,-0.133307,-0.925628,-1.074035,-0.342753,-1.190394,-0.620716,-0.938175,-0.069066,-1.134872,4

In [23]:
df.corr().score.sort_values()

PS            -0.106304
PRECTOT       -0.057844
fips          -0.055629
WS50M_MIN     -0.049703
WS10M_MIN     -0.031247
WS50M         -0.030570
WS50M_MAX     -0.010411
WS10M         -0.009904
WS10M_MAX      0.005758
T2MDEW         0.017985
T2MWET         0.018797
QV2M           0.021082
WS10M_RANGE    0.028687
WS50M_RANGE    0.033702
T2M_MIN        0.158055
T2M            0.182815
TS             0.188828
T2M_RANGE      0.210610
T2M_MAX        0.214523
score          1.000000
Name: score, dtype: float64

In [24]:
df_new = df[['PRECTOT','TS','T2M_MAX','score']]
df_new

             PRECTOT        TS   T2M_MAX  score
date
2000-01-04  0.667669 -0.190941 -0.279952      3
2000-01-04  0.586479 -0.579757 -0.753719      1
2000-01-04 -0.400429 -1.458034 -1.106115      0
2000-01-04 -0.396821 -2.338892 -2.599402      1
2000-01-04  2.327552 -0.418037 -0.674200      0
...              ...       ...       ...    ...
2016-12-27 -0.223616 -0.032662 -0.284137      2
2016-12-27 -0.400429 -1.656744 -1.489481      0
2016-12-27 -0.400429 -0.669219 -0.504280      3
2016-12-27 -0.400429 -0.905778 -0.688430      3
2016-12-27  0.203984 -0.133307 -0.325152      4

[2546118 rows x 4 columns]

In [25]:
df_shift= df_new[['TS','T2M_MAX','PRECTOT']].shift()
df_shift.columns = ['TS_pre','T2M_MAX_pre','PRECTOT_pre']
df_total = pd.concat([df_new,df_shift],axis=1)
df_total

,PRECTOT,TS,T2M_MAX,score,TS_pre,T2M_MAX_pre,PRECTOT_pre
date,,,,,,,
2000-01-04,0.667669,-0.190941,-0.279952,3,NaN,NaN,NaN
2000-01-04,0.586479,-0.579757,-0.753719,1,-0.190941,-0.279952,0.667669
2000-01-04,-0.400429,-1.458034,-1.106115,0,-0.579757,-0.753719,0.586479
2000-01-04,-0.396821,-2.338892,-2.599402,1,-1.458034,-1.106115,-0.400429
2000-01-04,2.327552,-0.418037,-0.674200,0,-2.338892,-2.599402,-0.396821
...,...,...,...,...,...,...,...
2016-12-27,-0.223616,-0.032662,-0.284137,2,-0.135888,-0.226381,0.028975
2016-12-27,-0.400429,-1.656744,-1.489481,0,-0.032662,-0.284137,-0.223616
2016-12-27,-0.400429,-0.669219,-0.504280,3,-1.656744,-1.489481,-0.400429
2016-12-27,-0.400429,-0.905778,-0.688430,3,-0.669219,-0.504280,-0.400429
2016-12-27,0.203984,-0.133307,-0.325152,4,-0.905778,-0.688430,-0.400429

In [26]:
df_total.fillna(value=0,inplace=True)
df_total

,PRECTOT,TS,T2M_MAX,score,TS_pre,T2M_MAX_pre,PRECTOT_pre
date,,,,,,,
2000-01-04,0.667669,-0.190941,-0.279952,3,0.000000,0.000000,0.000000
2000-01-04,0.586479,-0.579757,-0.753719,1,-0.190941,-0.279952,0.667669
2000-01-04,-0.400429,-1.458034,-1.106115,0,-0.579757,-0.753719,0.586479
2000-01-04,-0.396821,-2.338892,-2.599402,1,-1.458034,-1.106115,-0.400429
2000-01-04,2.327552,-0.418037,-0.674200,0,-2.338892,-2.599402,-0.396821
...,...,...,...,...,...,...,...
2016-12-27,-0.223616,-0.032662,-0.284137,2,-0.135888,-0.226381,0.028975
2016-12-27,-0.400429,-1.656744,-1.489481,0,-0.032662,-0.284137,-0.223616
2016-12-27,-0.400429,-0.669219,-0.504280,3,-1.656744,-1.489481,-0.400429
2016-12-27,-0.400429,-0.905778,-0.688430,3,-0.669219,-0.504280,-0.400429
2016-12-27,0.203984,-0.133307,-0.325152,4,-0.905778,-0.688430,-0.400429

In [27]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    df_total[['TS','T2M_MAX','TS_pre','T2M_MAX_pre','PRECTOT','PRECTOT_pre']],
    df_total['score'], test_size=0.2, random_state=1)

clf = DecisionTreeClassifier()
clf = clf.fit(X_train,y_train)

In [28]:
y_pred = clf.predict(X_test)

In [29]:
from sklearn import metrics

print(metrics.classification_report(y_test, y_pred, digits=3))

              precision    recall  f1-score   support

           0      0.308     0.289     0.298    105994
           1      0.282     0.270     0.276    105739
           2      0.346     0.345     0.346    106158
           3      0.389     0.397     0.393    106087
           4      0.486     0.505     0.495    106458
           5      0.705     0.738     0.721    106094

    accuracy                          0.424    636530
   macro avg      0.419     0.424     0.422    636530
weighted avg      0.420     0.424     0.422    636530

In [30]:
metrics.mean_absolute_error(y_test, y_pred)

1.1538623474148901