In [30]:
## part a:

In [31]:
# I have installed it before, with this command:
#conda install mlxtend --channel conda-forge

In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from mlxtend import preprocessing

In [2]:
## part b:

In [4]:
bs=pd.read_csv('Desktop/Basket.csv',names=['ITEMS'],delimiter='/')
bs

                                                   ITEMS
0        Lassi,Coffee Powder,Butter,Yougurt,Ghee,Cheese,
1                                    Ghee,Coffee Powder,
2                        Lassi,Tea Powder,Butter,Cheese,
3      Cheese,Tea Powder,Panner,Coffee Powder,Butter,...
4       Cheese,Yougurt,Coffee Powder,Sugar,Butter,Sweet,
...                                                  ...
12521                    Panner,Sugar,Bread,Milk,Cheese,
12522                  Sugar,Bread,Coffee Powder,Cheese,
12523                         Bread,Cheese,Yougurt,Milk,
12524                   Ghee,Bread,Yougurt,Sugar,Cheese,
12525                              Panner,Yougurt,Bread,

[12526 rows x 1 columns]

In [5]:
df=pd.DataFrame(bs)
df=pd.DataFrame(df,columns=['INDEX','ITEMS'])
for i in range(0,12526):
    df['INDEX'][i]=i+1
df['INDEX']=df['INDEX'].astype('int64')

<ipython-input-5-3ca08189e682>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['INDEX'][i]=i+1

In [7]:
df['ITEMS'] = df['ITEMS'].str.strip(',')
df

       INDEX                                              ITEMS
0          1     Lassi,Coffee Powder,Butter,Yougurt,Ghee,Cheese
1          2                                 Ghee,Coffee Powder
2          3                     Lassi,Tea Powder,Butter,Cheese
3          4  Cheese,Tea Powder,Panner,Coffee Powder,Butter,...
4          5    Cheese,Yougurt,Coffee Powder,Sugar,Butter,Sweet
...      ...                                                ...
12521  12522                     Panner,Sugar,Bread,Milk,Cheese
12522  12523                   Sugar,Bread,Coffee Powder,Cheese
12523  12524                          Bread,Cheese,Yougurt,Milk
12524  12525                    Ghee,Bread,Yougurt,Sugar,Cheese
12525  12526                               Panner,Yougurt,Bread

[12526 rows x 2 columns]

In [8]:
df['ITEMS']=df['ITEMS'].str.replace(",", " ")
df['ITEMS']=df['ITEMS'].str.split()
df

       INDEX                                              ITEMS
0          1  [Lassi, Coffee, Powder, Butter, Yougurt, Ghee,...
1          2                             [Ghee, Coffee, Powder]
2          3               [Lassi, Tea, Powder, Butter, Cheese]
3          4  [Cheese, Tea, Powder, Panner, Coffee, Powder, ...
4          5  [Cheese, Yougurt, Coffee, Powder, Sugar, Butte...
...      ...                                                ...
12521  12522               [Panner, Sugar, Bread, Milk, Cheese]
12522  12523             [Sugar, Bread, Coffee, Powder, Cheese]
12523  12524                     [Bread, Cheese, Yougurt, Milk]
12524  12525              [Ghee, Bread, Yougurt, Sugar, Cheese]
12525  12526                           [Panner, Yougurt, Bread]

[12526 rows x 2 columns]

In [9]:
item_list = []
for i in df['INDEX']:
    item_list.append(df['ITEMS'][i-1])
print(item_list[0:5])

[['Lassi', 'Coffee', 'Powder', 'Butter', 'Yougurt', 'Ghee', 'Cheese'], ['Ghee', 'Coffee', 'Powder'], ['Lassi', 'Tea', 'Powder', 'Butter', 'Cheese'], ['Cheese', 'Tea', 'Powder', 'Panner', 'Coffee', 'Powder', 'Butter', 'Bread'], ['Cheese', 'Yougurt', 'Coffee', 'Powder', 'Sugar', 'Butter', 'Sweet']]

In [10]:
online_encoder = preprocessing.TransactionEncoder()
online_encoder_array = online_encoder.fit_transform(item_list)

In [11]:
online_encoder_df = pd.DataFrame(online_encoder_array, columns=online_encoder.columns_)
online_encoder_df

,Bread,Butter,Cheese,Coffee,Ghee,Lassi,Milk,Panner,Powder,Sugar,Sweet,Tea,Yougurt
0,False,True,True,True,True,True,False,False,True,False,False,False,True
1,False,False,False,True,True,False,False,False,True,False,False,False,False
2,False,True,True,False,False,True,False,False,True,False,False,True,False
3,True,True,True,True,False,False,False,True,True,False,False,True,False
4,False,True,True,True,False,False,False,False,True,True,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12521,True,False,True,False,False,False,True,True,False,True,False,False,False
12522,True,False,True,True,False,False,False,False,True,True,False,False,False
12523,True,False,True,False,False,False,True,False,False,False,False,False,True
12524,True,False,True,False,True,False,False,False,False,True,False,False,True
12525,True,False,False,False,False,False,False,True,False,False,False,False,True

In [12]:
## part c:

In [13]:
frequent_itemsets = apriori(online_encoder_df, min_support=0.1, use_colnames=False)
frequent_itemsets

      support     itemsets
0    0.437809          (0)
1    0.437570          (1)
2    0.437171          (2)
3    0.439805          (3)
4    0.439885          (4)
..        ...          ...
153  0.197429   (8, 9, 11)
154  0.145058   (8, 9, 12)
155  0.199824  (8, 10, 11)
156  0.142823  (8, 10, 12)
157  0.198467  (8, 11, 12)

[158 rows x 2 columns]

In [14]:
## part d:

In [43]:
pip install pyfpgrowth

Requirement already satisfied: pyfpgrowth in c:\users\marzieh\anaconda3\lib\site-packages (1.0)
Note: you may need to restart the kernel to use updated packages.

In [15]:
import pyfpgrowth

In [16]:
patterns = pyfpgrowth.find_frequent_patterns(online_encoder_df,0.1)

In [17]:
## part e:

In [18]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(0),(1),0.437809,0.437570,0.196950,0.449854,1.028074,0.005378,1.022329
1,(1),(0),0.437570,0.437809,0.196950,0.450100,1.028074,0.005378,1.022351
2,(0),(2),0.437809,0.437171,0.201980,0.461342,1.055291,0.010582,1.044873
3,(2),(0),0.437171,0.437809,0.201980,0.462016,1.055291,0.010582,1.044995
4,(0),(3),0.437809,0.439805,0.201820,0.460977,1.048140,0.009269,1.039279
...,...,...,...,...,...,...,...,...,...
553,"(8, 12)",(11),0.307201,0.429746,0.198467,0.646050,1.503329,0.066449,1.611114
554,"(11, 12)",(8),0.198467,0.673878,0.198467,1.000000,1.483947,0.064724,inf
555,(8),"(11, 12)",0.673878,0.198467,0.198467,0.294515,1.483947,0.064724,1.136144
556,(11),"(8, 12)",0.429746,0.307201,0.198467,0.461824,1.503329,0.066449,1.287310
557,(12),"(8, 11)",0.439326,0.429746,0.198467,0.451754,1.051210,0.009668,1.040142