In [1]:
import pandas as pd
import numpy as np

**part a:**

In [2]:
hr = pd.read_csv("Desktop/Heart.csv")

In [3]:
df = pd.DataFrame(hr)
df

,age,gender,chest pain type,serum cholestoral,fasting blood sugar,resting electrocardiographic,maximum heart rate achieved,exercise induced angina,target
0,63,1,3,233,1,0,NaN,0,1
1,37,1,2,250,0,1,187.0,0,1
2,41,0,1,204,0,0,172.0,0,1
3,56,1,1,236,0,1,178.0,0,1
4,57,0,0,354,0,1,163.0,1,1
...,...,...,...,...,...,...,...,...,...
298,57,0,0,241,0,1,123.0,1,0
299,45,1,3,264,0,1,132.0,0,0
300,68,1,0,193,1,1,141.0,0,0
301,57,1,0,131,0,1,115.0,1,0
302,57,0,1,236,0,0,174.0,0,0

In [4]:
df.dtypes

age                               int64
gender                            int64
chest pain type                   int64
serum cholestoral                 int64
fasting blood sugar               int64
resting electrocardiographic      int64
maximum heart rate achieved     float64
exercise induced angina           int64
target                            int64
dtype: object

In [5]:
df.isnull().sum()

age                             0
gender                          0
chest pain type                 0
serum cholestoral               0
fasting blood sugar             0
resting electrocardiographic    0
maximum heart rate achieved     1
exercise induced angina         0
target                          0
dtype: int64

In [6]:
df = df.dropna()

In [7]:
df.isnull().sum()

age                             0
gender                          0
chest pain type                 0
serum cholestoral               0
fasting blood sugar             0
resting electrocardiographic    0
maximum heart rate achieved     0
exercise induced angina         0
target                          0
dtype: int64

In [8]:
df

,age,gender,chest pain type,serum cholestoral,fasting blood sugar,resting electrocardiographic,maximum heart rate achieved,exercise induced angina,target
1,37,1,2,250,0,1,187.0,0,1
2,41,0,1,204,0,0,172.0,0,1
3,56,1,1,236,0,1,178.0,0,1
4,57,0,0,354,0,1,163.0,1,1
5,57,1,0,192,0,1,148.0,0,1
...,...,...,...,...,...,...,...,...,...
298,57,0,0,241,0,1,123.0,1,0
299,45,1,3,264,0,1,132.0,0,0
300,68,1,0,193,1,1,141.0,0,0
301,57,1,0,131,0,1,115.0,1,0
302,57,0,1,236,0,0,174.0,0,0

**part b:**

In [26]:
df['C'] = np.arange(df.shape[0])
df

<ipython-input-26-e9b037bd22d2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['C'] = np.arange(df.shape[0])

,age,gender,chest pain type,serum cholestoral,fasting blood sugar,resting electrocardiographic,maximum heart rate achieved,exercise induced angina,target,C
1,37,1,2,250,0,1,187.0,0,1,0
2,41,0,1,204,0,0,172.0,0,1,1
3,56,1,1,236,0,1,178.0,0,1,2
4,57,0,0,354,0,1,163.0,1,1,3
5,57,1,0,192,0,1,148.0,0,1,4
...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,241,0,1,123.0,1,0,297
299,45,1,3,264,0,1,132.0,0,0,298
300,68,1,0,193,1,1,141.0,0,0,299
301,57,1,0,131,0,1,115.0,1,0,300
302,57,0,1,236,0,0,174.0,0,0,301

In [35]:
item_list = (df[df['target'] =='1']
             .groupby(['gender','exercise induced angina', 'C']))

In [36]:
item_list

In [37]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [ ]:
# Build up the frequent items
frequent_itemsets = apriori(item_list, min_support=0.2, use_colnames=True)

In [ ]:
frequent_itemsets.head()

In [ ]:
# Create the rules
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules

In [ ]:
rules[ (rules2['lift'] >= 4) &
        (rules2['confidence'] >= 0.5) ]